/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(309, 52%, 75%);
    }  
  .calculator {
    border: 1px solid hsl(0, 77%, 57%);
    width: 500px;
    text-align: center;
    padding: 10px;
  }
  .number {
    background-color: #ef23d0; /* Cor de fundo azul */
    color: hsl(108, 94%, 49%); /* Cor do texto branca */
  }
  
  #display {
    width: 100%;
    padding: 5px;
    font-size: 20px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
    button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }